.form-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 0px 2px 15px var(--light-gray);

  @media (min-width: 768px) {
    position: relative;
    padding: 0;
    box-shadow: none;
    margin-top: 80px;
  }

  & button {
    border: none;
    font-size: 0.9rem;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;

    @media (min-width: 768px) {
      position: relative;
      padding: 16px 32px;
      box-shadow: none;
    }
  }
}

.go-back-btn {
  color: var(--cool-gray);
  margin-right: auto;
  background: transparent;
  font-weight: var(--font-bold);

  &:hover {
    color: var(--marine-blue);
  }
}

.go-next-btn {
  color: var(--white);
  background-color: var(--marine-blue);

  &:hover {
    opacity: 0.8;
  }
}

.confirm-btn {
  color: var(--white);
  background-color: var(--purplish-blue);

  &:hover {
    opacity: 0.8;
  }
}
