nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 174px;
  background-image: url("./src/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;

  @media (min-width: 820px) {
    min-width: 270px;
    z-index: initial;
    height: auto;
    min-height: 565px;
    position: relative;
    border-radius: 10px;
    background-image: url("./src/assets/images/bg-sidebar-desktop.svg");
    padding: 32px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
}

.nav-item {
  color: var(--white);
  display: flex;
  align-content: center;
  gap: 1rem;
  text-transform: uppercase;
}

.circle {
  height: 36px;
  width: 36px;
  border: 1px solid var(--white);
  border-radius: 50px;
  align-content: center;
  text-align: center;
}

.nav-item.active {
  & .circle {
    background-color: var(--light-blue);
    color: var(--marine-blue);
  }
}

.step {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

  @media (min-width: 820px) {
    display: flex;
  }
}

.step-number {
  font-size: 0.7rem;
  color: var(--light-gray);
}

.step-name {
  font-size: 0.8rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
}
